@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 270px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 34px 17px 34px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover,
.btn-primary.active {
    color: #1f6f9b;
    background-color: #5ca77b;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 228, 214);
    width: 100%;
    height: 560px;
    border-radius: 24px;
    padding: 80px 100px;
    margin-bottom: 80px;
}

#hero .hero-content {
    width: 622px;
    height: 326px;
}

#hero .hero-content .hero-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

#hero .hero-content .hero-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}

#hero .hero-img {
    width: 474.03px;
    height: 329.21px;
    padding-right: 60px;
    padding-bottom: 150px;
}

/* Card portion styles */
.card-box {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px;
}

.title {
    font-family: Fira Sans;
    color: rgb(14, 14, 14);
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.description {
    font-family: Fira Sans;
    color: rgba(14, 14, 14, 0.7);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    /* make all cards same height */
    gap: 32px;
    /* gap between cards */
}

.card {
    border-radius: 16px;
    padding: 32px;
    width: 100%;
    /* take available width */
    max-width: 400px;
    /* limit max size */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* space out content inside */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    /* optional: add soft shadow */
}

h4.card-title {
    font-family: Fira Sans;
    color: rgb(14, 14, 14);
    font-size: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0;
}

p.card-description {
    font-family: Fira Sans;
    color: rgb(14, 14, 14);
    font-size: 12px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 12px;
}

.btn-vision {
    border-radius: 8px;
    width: 150px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-vision1 {
    background-color: rgb(48, 176, 144);
}

.btn-vision2 {
    background-color: rgb(117, 117, 244);
}

.btn-vision3 {
    background-color: rgb(240, 101, 120);
}

.hero-img {
    width: 80px;
    height: 80px;
}

.btn-vision:hover,
.btn-vision.active {
    color: #1f6f9b;
    background-color: #0b4b2f;
}


.recent-news {
    background-color: rgb(243, 239, 239);
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px;
    margin-bottom: 0%;
}

.news-container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    border-radius: 18px;
    border: 30px;
    margin: 20px;
}

.news-img {
    border-radius: 12px;
}

.recent-news-header {
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.news {
    margin-top: 10px;
    padding: 20px;
    gap: 12px;
}

.btn-news {
    margin-top: 20px;
    width: max-content;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    height: 56px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 34px 17px 34px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-news:hover,
.btn-news.active {
    color: #1f6f9b;
    background-color: #5ca77b;
}

.donates {
    margin-top: 0px;
}

.donate {


    background-color: rgb(243, 239, 239);
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.donate h1 {
    font-family: Fira Sans;
    font-size: 36px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;


}

.donate p {
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
}

.donate-container {
    font-family: Fira Sans;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 30px;
}

.donate-box {

    background-color: white;
    padding: 5%;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn-donate {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 20px 0;
    padding: 8px 16px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 150px;
    height: 40px;
    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-donate:hover,
.btn-donate.active,
.donate-box:hover,
.donate-box.active {
    color: #1f6f9b;
    background-color: #0b4b2f;
}

#donate-selected {
    background-color: rgb(198, 228, 214);
    padding: 5%;
    border-radius: 15px;
    text-align: center;
}


input[type="text"] {
    margin-top: 20px;
    background-color: white;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

.subcribe-part {
    margin: 40px;
    background-color: rgb(183, 232, 206);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.subscribe-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.subscribe-input {
    display: inline;
    width: 200px;
}

.subscribe-button {
    display: inline;
    width: fit-content;
    margin-bottom: 20px;

}

.btn-subscribe {
    margin-top: 10px;
    border-top: 10px solid #006a50;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    height: 30px;
    width: fit-content;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-subscribe:hover,
.btn-subscribe.active {
    color: #1f6f9b;
    background-color: #0b4b2f;
}

.footer {}

.footer-head {
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
}


.footer-img {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;

}